<footer class="site-footer">
    <div class="wrapper">
        <h2 class="footer-heading">Kirill Sobolev</h2>
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li>E-mail</li>
                    <li><a href="mailto:kir.sobolev@yahoo.com">kir.sobolev@yahoo.com</a></li>
                </ul>
            </div>
            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    <li>
                        <i class="fa fa-github fa-fw"></i><a href="https://github.com/demshin"> thesmail</a>
                    </li>
                    <li>
                        <i class="fa fa-telegram fa-fw"></i><a href="#"> @thesmail</a>
                    </li>
                    <li>
                        <i class="fa fa-linkedin fa-fw"></i><a href="#"> Linkedin</a>
                    </li>
                </ul>
            </div>
            <div class="footer-col footer-col-3">
                <p>Blog of Kirill Sobolev, Python Dev
                </p>
            </div>
        </div>
    </div>
</footer>