<footer class="footer">
    <div class="wrapper">
        <h2 class="footer-heading">Aleksandr Demshin</h2>
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li>Aleksandr Demshin</li>
                    <li><a href="mailto:demshin@gmail.com">demshin@gmail.com</a></li>
                </ul>
            </div>
            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    <li>
                        <a href="https://github.com/demshin"></a>
                    </li>
                </ul>
            </div>
            <div class="footer-col footer-col-3">
                <p>Blog of Aleksandr Demshin, Systems Engineer
                </p>
            </div>
        </div>
    </div>
</footer>