{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h3 class="mt-5">Latest publication</h3>
    {% for post in posts %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{% static 'media/1.png' %}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.body|truncatechars:200 }}</p>
                    <p class="card-text"><small class="text-muted">{{ post.date_pub }}</small></p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
