{% extends 'base.html' %}
{% load static %}
{% load markdown_deux_tags %}

{% block content %}
    <h3 class="mt-5 mb-4">Latest publication</h3>
    {% for post in posts %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ post.img.url }}" class="card-img-top" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                        <p class="card-text"><small class="text-muted">{{ post.date_pub }}</small></p>
                        <p class="card-text">{{ post.body|truncatechars:200 }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>

{% endblock %}
